@font-face{
	font-family: 'Lobster-Regular';
	src: url(../fonts/Lobster-Regular.ttf);
}
@font-face{
	font-family: 'AdventPro-Regular';
	src:url(../fonts/AdventPro-Regular.ttf);
}
@font-face{
	font-family: 'Montserrat';
	src:url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family: 'PT sans';
	src:url(../fonts/PTSans-Regular.ttf);
}

*{
    font-family: 'PT sans';
    background-color: rgb(214, 211, 197);
}
h1{font-weight:bold;}
h2{font-weight:bold;}
h3{
    font-weight:bold;
}
h4{
    font-weight:bold;
}
h5{
    font-weight:bold;
}
h6{
    font-weight:bold;
}
a{
    font-style:italic;
}
.negrita{
    font-weight:bold;
}
.cursiva{
    font-style:italic;
}
.tamPequeño{
    font-size:12px;
}
.tamMediano{
    font-size:28px;
}
.tamGrande{
    font-size:46px;
}
.tamExGrande{
    font-size:88px;
}
.under {
    text-decoration: underline;
}
.over {
    text-decoration: overline;
}
.line {
    text-decoration: line-through;
}
.blink {
    text-decoration: blink;
}
.none {
    text-decoration: none;
}
.underover {
    text-decoration: underline overline;
}

/*CLASES FUENTES*/
.text-Lobster{
    font-family:'Lobster-Regular';
}
.text-AdventPro{
    font-family: 'AdventPro-Regular';
}
.text-Montserrart{
    font-family: 'Montserrat';
}

/*CLASES COLORES*/
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.text-rojo{
    color:red;
}
.text-amarillo{
    color:yellow;
}
.text-verdelimon{
    color:greenyellow;
}
.text-verde{
    color: green;
}
.text-azul{
    color:blue;
}
.text-purple{
    color:purple;
}
.text-pink{
    color:palevioletred;
}