@font-face{
	font-family: 'Lobster-Regular';
	src: url(../fonts/Lobster-Regular.ttf);
}
@font-face{
	font-family: 'AdventPro-Regular';
	src:url(../fonts/AdventPro-Regular.ttf);
}
@font-face{
	font-family: 'Montserrat';
	src:url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family: 'PT sans';
	src:url(../fonts/PTSans-Regular.ttf);
}

*{
    font-family: 'PT sans';
}

/*CLASES FUENTES*/
.text-Lobster{
    font-family:'Lobster-Regular';
}
.text-AdventPro{
    font-family: 'AdventPro-Regular';
}
.text-Montserrart{
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat';
    font-weight:bold;
}
h2{
    font-weight:bold;
}
h3{
    font-weight:bold;
}
h4{
    font-weight:bold;
}
h5{
    font-weight:bold;
}
h6{
    font-weight:bold;
}
a{
    font-style:italic;
}