:root{
/******Start button variables******/
      --button-display: inline-block;
      --button-padding: 6px 20px;
      --button-margin: 5px;
      --button-border: 1px solid #bbb;
      --button-font: bold 13px helvetica, sans-serif;
      --button-txtColor: #000;
      --button-bgcolor: #ddd;
      --button-boderRadius:5px;
      --button-hover-bgcolor: #eee;
      --button-hover-txtcolor: #555;
      --button-active-bgcolor: #e9e9e9;
      --button-size-small: 4px 12px;
      --button-size-medium:8px 20px;
      --button-size-large: 12px 30px;
      --button-size-xlarge: 20px 40px;
      /*******************************/
      --button-color-green-bgcolor: #57a957;
      --button-color-green-txtcolor: rgb(39, 23, 23);
      --button-color-green-border: #57a957;
      --button-color-green-hover-bgcolor: #2e8f2e;
      --button-color-green-hover-txtcolor: rgb(78, 45, 45);
      --button-color-green-active-bgcolor: #57a957;
    
      --button-color-yellow-bgcolor: #dae639;
      --button-color-yellow-txtcolor: rgb(39, 23, 23);
      --button-color-yellow-border: #dae639;
      --button-color-yellow-hover-bgcolor: #afb920;
      --button-color-yellow-hover-txtcolor: rgb(78, 45, 45);
      --button-color-yellow-active-bgcolor: #dae639;
    
      --button-color-orange-bgcolor: #ee9e35;
      --button-color-orange-txtcolor: rgb(39, 23, 23);
      --button-color-orange-border: #ee9e35;
      --button-color-orange-hover-bgcolor: #d37f12;
      --button-color-orange-hover-txtcolor: rgb(78, 45, 45);
      --button-color-orange-active-bgcolor: #ee9e35;
    
      --button-color-purple-bgcolor: #a826c8;
      --button-color-purple-txtcolor: rgb(39, 23, 23);
      --button-color-purple-border: #a826c8;
      --button-color-purple-hover-bgcolor: #751e8b;
      --button-color-purple-hover-txtcolor: rgb(78, 45, 45);
      --button-color-purple-active-bgcolor: #a826c8;
    
      --button-color-blue-bgcolor: #4e44da;
      --button-color-blue-txtcolor: rgb(39, 23, 23);
      --button-color-blue-border: #4e44da;
      --button-color-blue-hover-bgcolor: #27217a;
      --button-color-blue-hover-txtcolor: rgb(78, 45, 45);
      --button-color-blue-active-bgcolor: #4e44da;
    
      --button-color-brown-bgcolor: #7c4d10;
      --button-color-brown-txtcolor: rgb(51, 51, 51);
      --button-color-brown-border: #7c4d10;
      --button-color-brown-hover-bgcolor: #52330b;
      --button-color-brown-hover-txtcolor: rgb(78, 45, 45);
      --button-color-brown-active-bgcolor: #7c4d10;
    
      --button-color-red-bgcolor: #e42c2c;
      --button-color-red-txtcolor: rgb(51, 51, 51);
      --button-color-red-border: #e42c2c;
      --button-color-red-hover-bgcolor: #9b2020;
      --button-color-red-hover-txtcolor: rgb(78, 45, 45);
      --button-color-red-active-bgcolor: #e42c2c;
    
      --button-color-black-bgcolor: black;
      --button-color-black-txtcolor: rgb(185, 185, 185);
      --button-color-black-border: black;
      --button-color-black-hover-bgcolor: #313131;
      --button-color-black-hover-txtcolor: rgb(218, 218, 218);
      --button-color-black-active-bgcolor: black;
      /************************************************/
      --button-shape-circle: 50%;
      --button-shape-square: 0px;
      --button-shape-trapezoid: 30px 5px;
      /************************************************/
      --button-line-bgcolor: white;
      --button-line-txtcolor: #000;
      --button-line-border: #000 1px solid;
      --button-line-hover-bgcolor: rgb(0, 0, 0);
      --button-line-hover-border: #000 1px solid;
      --button-line-hover-txtcolor: rgb(255, 255, 255);
      /************************************************/
      --button-line-color-green-border: #57a957;
      --button-line-color-green-hover-bgcolor: #57a957;
      --button-line-color-green-hover-border: #57a957;
    
      --button-line-color-yellow-border: #dae639;
      --button-line-color-yellow-hover-bgcolor: #dae639;
      --button-line-color-yellow-hover-border: #dae639;
    
      --button-line-color-orange-border: #ee9e35;
      --button-line-color-orange-hover-bgcolor: #ee9e35;
      --button-line-color-orange-hover-border: ##ee9e35;
    
      --button-line-color-purple-border: #a826c8;
      --button-line-color-purple-hover-bgcolor: #a826c8;
      --button-line-color-purple-hover-border: #a826c8;
    
      --button-line-color-blue-border: #4e44da;
      --button-line-color-blue-hover-bgcolor: #4e44da;
      --button-line-color-blue-hover-border: #4e44da;
    
      --button-line-color-brown-border: #7c4d10;
      --button-line-color-brown-hover-bgcolor: #7c4d10;
      --button-line-color-brown-hover-border: #7c4d10;
    
      --button-line-color-red-border: #e42c2c;
      --button-line-color-red-hover-bgcolor: #e42c2c;
      --button-line-color-red-hover-border: #e42c2c;
/******End button variables******/

/******Start form variables******/
    --form-box-margin: 15px;
    --form-box-padding: 10px;
    /***************************/
    --form-textObjects-border: 1px solid rgb(134, 133, 133);
    --form-textObjects-bgcolor: rgb(194, 194, 194);
    --form-textObjects-margin: 5px;
    --form-textObjects-padding: 5px;
    --form-textObjects-width: 100%;
    --form-textObjects-focusbgcolor: rgb(134, 133, 133);
    /***************************/
    --form-textObjects-color-green-border: 1px solid rgb(53, 194, 45);
    --form-textObjects-color-green-bgcolor: rgb(117, 233, 111);
    --form-textObjects-color-green-focusbgcolor: rgb(71, 190, 65);

    --form-textObjects-color-yellow-border:  1px solid rgb(233, 251, 72);
    --form-textObjects-color-yellow-bgcolor: rgb(240, 251, 138);
    --form-textObjects-color-yellow-focusbgcolor: rgb(233, 251, 72);

    --form-textObjects-color-orange-border:  1px solid rgb(255, 207, 96);
    --form-textObjects-color-orange-bgcolor: rgb(255, 222, 145);
    --form-textObjects-color-orange-focusbgcolor: rgb(255, 207, 96);

    --form-textObjects-color-purple-border: 1px solid rgb(189, 101, 221);
    --form-textObjects-color-purple-bgcolor: rgb(207, 140, 231);
    --form-textObjects-color-purple-focusbgcolor: rgb(189, 101, 221);

    --form-textObjects-color-blue-border: 1px solid rgb(111, 101, 255);
    --form-textObjects-color-blue-bgcolor: rgb(161, 160, 255);
    --form-textObjects-color-blue-focusbgcolor: rgb(111, 101, 255);

    --form-textObjects-color-brown-border: 1px solid rgb(219, 138, 72);
    --form-textObjects-color-brown-bgcolor: rgb(231, 160, 103);
    --form-textObjects-color-brown-focusbgcolor: rgb(219, 138, 72);

    --form-textObjects-color-red-border: 1px solid rgb(221, 102, 102);
    --form-textObjects-color-red-bgcolor: rgb(233, 145, 145);
    --form-textObjects-color-red-focusbgcolor: rgb(221, 102, 102);

    --form-textObjects-color-white-border: 1px solid rgb(255, 255, 255);
    --form-textObjects-color-white-bgcolor: rgb(234, 225, 218);
    --form-textObjects-color-white-focusbgcolor: rgb(255, 255, 255);

    --form-textObjects-color-black-border: 1px solid rgb(39, 39, 39);
    --form-textObjects-color-black-bgcolor: rgb(0, 0, 0);
    --form-textObjects-color-black-txtcolor: white;
    --form-textObjects-color-black-focusbgcolor: rgb(39, 39, 39);
    /***************************/
    --form-textObjects-smallPadding: 3px;
    --form-textObjects-mediumPadding: 7px;
    --form-textObjects-largePadding: 9px;
    --form-textObjects-xlargePadding: 10px;
    /***************************/
    --form-textObjects-halfLengh: 50%;
    --form-textObjects-quarterLength: 25%;
    --form-textObjects-narrowLengh: 10%;
    /***************************/
    --form__checkObjects-block: block;
    --form__checkObjects-inline: inline;
    --form__checkObjects-inlineBlock: inline-block;
/******End form variables******/

    /*Start of Variables background alerts, and border colors*/
    --bg-danger:#ea5455;
    --bg-success:#79d70f;
    --bg-warning:#ffcd3c;
    --bg-secondary:#35d0ba;
    --bg-info:#848ccf;
    --bg-primary:#1b29a8;
    /*End of Variables background alerts, and border colors*/

}

/* Start grid styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

.container{
    display: grid;
    width: 100%;
    height: auto;
    margin: auto;
}

.row{
    display: block;
    width: 100%;
    height: auto;
}
[class*="col"] 
    {
        display: grid;
    float: left;
    height: auto;
    width: 100%;
    /* margin: 2px; */
    /* border: 1px solid black; */
    }

 /*large*/
 @media screen and (min-width: 1024px){
    .col.lg-1 {width: 8.33%;}
    .col.lg-2 {width: 16.66%;}
    .col.lg-3 {width: 24.99%;}
    .col.lg-4 {width: 33.32%;}
    .col.lg-5 {width: 41.65%;}
    .col.lg-6 {width: 49.98%;}
    .col.lg-7 {width: 58.31%;}
    .col.lg-8 {width: 66.64%;}
    .col.lg-9 {width: 74.97%;}
    .col.lg-10 {width: 83.30%;}
    .col.lg-11 {width: 91.63%;}
    .col.lg-12 {width: 99.96%;}

}

/*medium*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    
    .col.md-1 {width: 8.33%;}
    .col.md-2 {width: 16.66%;}
    .col.md-3 {width: 24.99%;}
    .col.md-4 {width: 33.32%;}
    .col.md-5 {width: 41.65%;}
    .col.md-6 {width: 49.98%;}
    .col.md-7 {width: 58.31%;}
    .col.md-8 {width: 66.64%;}
    .col.md-9 {width: 74.97%;}
    .col.md-10 {width: 83.30%;}
    .col.md-11 {width: 91.63%;}
    .col.md-12 {width: 99.96%;}

}
/* // Small devices */
@media screen and (min-width: 576px) { 
    
    .col.sm-1 {width: 8.33%;}
    .col.sm-2 {width: 16.66%;}
    .col.sm-3 {width: 24.99%;}
    .col.sm-4 {width: 33.32%;}
    .col.sm-5 {width: 41.65%;}
    .col.sm-6 {width: 49.98%;}
    .col.sm-7 {width: 58.31%;}
    .col.sm-8 {width: 66.64%;}
    .col.sm-9 {width: 74.97%;}
    .col.sm-10 {width: 83.30%;}
    .col.sm-11 {width: 91.63%;}
    .col.sm-12 {width: 99.96%;}
}
/* end grid styles */

/* start utility styles */
[class*="alert"] {
    display: grid;
    grid-template-columns: repeat(3,20% 70% 10%);
    height: auto;
    width: auto;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0px 0px 16px -6px rgba(0,0,0,0.75);
    color: white;
}

[class*="fas"]{
    justify-self: center;
    align-self: center;
    font-size: 2em;
    grid-column: 1;
}
.fa-window-close{
    cursor: pointer;
    font-size: 1.5em;
    grid-column: 3;
    padding: .2em;
    align-self: flex-start;
    justify-self: end;
}
.description-header{
    font-size: 1.5em;
}
.description{
    padding: 1em;
    grid-column: 2;
    justify-self: start;
}
.alert-danger{
    background-color: #ea5455;
}
.alert-info{
    background-color: #848ccf;
}
.alert-secondary{
    background-color: #35d0ba;
}
.alert-success{
    background-color: #79d70f;
}
.alert-warning{
    background-color: #ffcd3c;
}
.close-alert{
    display: none;
}
/* ------------------INICIO DE CLASES PARA TIPOGRAFIA----------*/
.negrita{
    font-weight:bold;
}
.cursiva{
    font-style:italic;
}
/*TAMAÑOS*/
.tamPequeño{
    font-size:12px;
}
.tamMediano{
    font-size:28px;
}
.tamGrande{
    font-size:46px;
}
.tamExGrande{
    font-size:88px;
}
.sub-lineaDebajo{
    text-decoration: underline;
}
.sub-lineaArriba{
    text-decoration: overline;
}
.sub-lineaAtravez {
    text-decoration: line-through;
}
.sub-none {
    text-decoration: none;
}
.sub-ArribaDebajo {
    text-decoration: underline overline;
}
/*FIN TAMAÑOS*/
/*CLASES COLORES*/
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.text-rojo{
    color:red;
}
.text-amarillo{
    color:yellow;
}
.text-verdelimon{
    color:greenyellow;
}
.text-verde{
    color: green;
}
.text-azul{
    color:blue;
}
.text-morado{
    color:purple;
}
.text-rosa{
    color:palevioletred;
}
/*Clases para alineacion de texto*/
.text-center {
    text-align: center;
  }
  
.text-left {
    text-align: left;
  }
  
.text-right {
    text-align: right;
  }

/* --------------FIN DE CLASES PARA TIPOGRAFIA----------*/
/* ------------------INICIO DE FUENTES------------------*/
/*Definiendo fuentes*/
@font-face{
	font-family: 'Lobster-Regular';
	src: url(../fonts/Lobster-Regular.ttf);
}
@font-face{
	font-family: 'AdventPro-Regular';
	src:url(../fonts/AdventPro-Regular.ttf);
}
@font-face{
	font-family: 'Montserrat';
	src:url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
	font-family: 'PT sans';
	src:url(../fonts/PTSans-Regular.ttf);
}
/*FUENTE PREDETERMINADA*/
*{
    font-family: 'PT sans';
}

/*CLASES FUENTES*/
.text-Lobster{
    font-family:'Lobster-Regular';
}
.text-AdventPro{
    font-family: 'AdventPro-Regular';
}
.text-Montserrart{
    font-family: 'Montserrat';
}
/*ESTABLECER ESTILO A ELEMENTOS*/
h1{
    font-family: 'Montserrat';
    font-weight:bold;
}
h2{
    font-family: 'Montserrat';
    font-weight:bold;
}
h3{
    font-family: 'Montserrat';
    font-weight:bold;
}
h4{
    font-family:'Montserrat';
    font-weight:bold;
}
h5{
    font-family: 'Montserrat';
    font-weight:bold;
}
h6{
    font-family: 'Montserrat';
    font-weight:bold;
}
a{
    font-style:italic;
    text-decoration: none;
    color:#555;
}

/* ------------------FIN DE FUENTES------------------*/
/* end utility styles */




/******Start button classes******/
.button{
    display: var(--button-display);
    padding: var(--button-padding);
    margin: var(--button-margin);
    cursor: pointer;/*We change the cursor shape to the pointer*/
    border: var(--button-border);
    overflow: visible;/*In case the text overfloxs it will show it outside the button*/
    font: var(--button-font);
    text-decoration: none;/*In case an unwanted tipe of text decoration appears on the text*/
    color: var(--button-txtColor);
    background-color: var(--button-bgcolor);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));/*Adds the color gradient*/
    transition: background-color .5s ease-out;/*States what will change, how it will change and the time it will take*/
    background-clip: padding-box;
    border-radius: var(--button-boderRadius);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);
    user-select: none;
    min-width: auto;
    min-height: auto;
  }
  .button:hover{/*When the cursor goes over the button*/
    background-color: var(--button-hover-bgcolor);
    color: var(--button-hover-txtcolor);
  }
  .button:active{/*When the cursor click the button*/
    background: var(--button-active-bgcolor);
    position: relative;
    top: 1px;
    text-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
  }
  
  /*Start types of sizes*/
  .button__small{
    padding: var(--button-size-small);
  }
  
  .button__medium{
    padding: var(--button-size-medium);
  }
  
  .button__large{
    padding: var(--button-size-large);
    text-transform: uppercase;
  }
  .button__large:active{
    top: 2px;
  }
  
  .button__xlarge{
    padding: var(--button-size-xlarge);
    text-transform: uppercase;
  }
  .button__xlarge:active{
    top: 3px;
  }
  /*End types of sizes*/
  
  /*Start Default Colors*/
  .button__green{
    background-color: var(--button-color-green-bgcolor);
    border-color: var(--button-color-green-border);
    color: var(--button-color-green-txtcolor);
  }
  .button__green:hover{
    background-color: var(--button-color-green-hover-bgcolor);
    color: var(--button-color-green-hover-txtcolor);
  }
  .button__green:active{
    background: var(--button-color-green-active-bgcolor);
  }
  
  .button__yellow{
    background-color: var(--button-color-yellow-bgcolor);
    border-color: var(--button-color-yellow-border);
    color: var(--button-color-yellow-txtcolor);
  }
  .button__yellow:hover{
    background-color: var(--button-color-yellow-hover-bgcolor);
    color: var(--button-color-yellow-hover-border);
  }
  .button__yellow:active{
    background: var(--button-color-yellow-active-bgcolor);
  }
  
  .button__orange{
    background-color: var(--button-color-orange-bgcolor);
    border-color: var(--button-color-orange-border);
    color: var(--button-color-orange-txtcolor);
  }
  .button__orange:hover{
    background-color: var(--button-color-orange-hover-bgcolor);
    color: var(--button-color-orange-hover-txtcolor);
  }
  .button__orange:active{
    background: var(--button-color-orange-active-bgcolor);
  }
  
  .button__purple{
    background-color: var(--button-color-purple-bgcolor);
    border-color: var(--button-color-purple-border);
    color: var(--button-color-purple-txtcolor);
  }
  .button__purple:hover{
    background-color: var(--button-color-purple-hover-bgcolor);
    color: var(--button-color-purple-hover-txtcolor);
  }
  .button__purple:active{
    background: var(--button-color-purple-active-bgcolor);
  }
  
  .button__blue{
    background-color: var(--button-color-blue-bgcolor);
    border-color: var(--button-color-blue-border);
    color: var(--button-color-blue-txtcolor);
  }
  .button__blue:hover{
    background-color: var(--button-color-blue-hover-bgcolor);
    color: var(--button-color-blue-hover-txtcolor);
  }
  .button__blue:active{
    background: var(--button-color-blue-active-bgcolor);
  }
  
  .button__brown{
    background-color: var(--button-color-brown-bgcolor);
    border-color: var(--button-color-brown-border);
    color: var(--button-color-brown-txtcolor);
  }
  .button__brown:hover{
    background-color: var(--button-color-brown-hover-bgcolor);
    color: var(--button-color-brown-hover-txtcolor);
  }
  .button__brown:active{
    background: var(--button-color-brown-active-bgcolor);
  }
  
  .button__red{
    background-color: var(--button-color-red-bgcolor);
    border-color: var(--button-color-red-border);
    color: var(--button-color-red-txtcolor);
  }
  .button__red:hover{
    background-color: var(--button-color-red-hover-bgcolor);
    color: var(--button-color-red-hover-txtcolor);
  }
  .button__red:active{
    background: var(--button-color-red-active-bgcolor);
  }
  
  .button__black{
    background-color: var(--button-color-black-bgcolor);
    border-color: var(--button-color-black-border);
    color: var(--button-color-black-txtcolor);
  }
  .button__black:hover{
    background-color: var(--button-color-black-hover-bgcolor);
    color: var(--button-color-black-hover-txtcolor);
  }
  .button__black:active{
    background: var(--button-color-black-active-bgcolor);
  }
  /*End Default Colors*/
  
  /*Start Shapes*/
  .button__circle{
    border-radius: var(--button-shape-circle);
  }
  .button__square{
    border-radius: var(--button-shape-square);
  }
  
  .button__trapezoid{
    border-radius: var(--button-shape-trapezoid);
  }
  /*End Shapes*/
  
   /*Start Line button*/
  .button__line{
    background-color: var(--button-line-bgcolor);
    color: var(--button-line-txtcolor);
    border: var(--button-line-border);
    box-shadow: none;
    background-image: none;
    
  }
  .button__line:hover{
    background-color: var(--button-line-hover-bgcolor);
    border: var(--button-line-hover-border);
    color: var(--button-line-hover-txtcolor);
    
  }
    /*Start Line Colors*/
      .button__line__green{
          background-color: var(--button-line-bgcolor);
          border-color: var(--button-line-color-green-border);
      }
      .button__line__green:hover{
        background-color: var(--button-line-color-green-hover-bgcolor);
        border-color: var(--button-line-color-green-hover-border);
      }
      
      .button__line__yellow{
        background-color: var(--button-line-bgcolor);
        border-color: var(--button-line-color-yellow-border);
      }
      .button__line__yellow:hover{
        background-color: var(--button-line-color-yellow-hover-bgcolor);
        border-color: var(--button-line-color-yellow-hover-border);
      }
  
      .button__line__orange{
        background-color: var(--button-line-bgcolor);
        border-color: var(--button-line-color-orange-border);
      }
      .button__line__orange:hover{
        background-color: var(--button-line-color-orange-hover-bgcolor);
        border-color: var(--button-line-color-orange-hover-border);
      }
  
      .button__line__purple{
        background-color: var(--button-line-bgcolor);
        border-color: var(--button-line-color-purple-border);
      }
      .button__line__purple:hover{
        background-color: var(--button-line-color-purple-hover-bgcolor);
        border-color: var(--button-line-color-purple-hover-border);
      }
  
      .button__line__blue{
        background-color: var(--button-line-bgcolor);
        border-color: var(--button-line-color-blue-border);
      }
      .button__line__blue:hover{
        background-color: var(--button-line-color-blue-hover-bgcolor);
        border-color: var(--button-line-color-blue-hover-border);
      }
  
      .button__line__brown{
        background-color: var(--button-line-bgcolor);
        border-color: var(--button-line-color-brown-border);
      }
      .button__line__brown:hover{
        background-color: var(--button-line-color-brown-hover-bgcolor);
        border-color: var(--button-line-color-brown-hover-border);
      }
  
      .button__line__red{
        background-color: var(--button-line-bgcolor);
        border-color: var(--button-line-color-red-border);
      }
      .button__line__red:hover{
        background-color: var(--button-line-color-red-hover-bgcolor);
        border-color: var(--button-line-color-red-hover-border);
      }
    /*End Line Colors*/
  
   /*End of types of buttons*/
  /******End button classes******/
  
  


/******Start form classes******/
.form__box{
    display: block;
    margin: var(--form-box-margin);
    padding: var(--form-box-padding);
}

.form__box__center{
    display: flex;
    align-content: center;
    justify-content: center;
}

/*Start TextBoxes CSS*/
    .form__textObjects{
        border: var(--form-textObjects-border);
        background-color: var(--form-textObjects-bgcolor);
        border-radius: 5px;
        padding: var(--form-textObjects-padding);
        margin: var(--form-textObjects-margin);
        width: var(--form-textObjects-width);
    }
    .form__textObjects:focus{
        background-color: var(--form-textObjects-hover-bgcolor);
        position: relative;
        top: 2px;
        text-shadow: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    }

    /*Start Default Colors*/
    .form__textObjects__green{
        border: var(--form-textObjects-color-green-border);
        background-color: rgb(117, 233, 111);
    }
    .form__textObjects__green:focus{
        background-color: rgb(71, 190, 65);
    }

    .form__textObjects__yellow{
        border: var(--form-textObjects-color-yellow-border);
        background-color: var(--form-textObjects-color-yellow-bgcolor);
    }
    .form__textObjects__yellow:focus{
        background-color: var(--form-textObjects-color-yellow-focusbgcolor);
    }

    .form__textObjects__orange{
        border: var(--form-textObjects-color-orange-border);
        background-color: var(--form-textObjects-color-orange-bgcolor);
    }
    .form__textObjects__orange:focus{
        background-color: var(--form-textObjects-color-orange-focusbgcolor);
    }

    .form__textObjects__purple{
        border: var(--form-textObjects-color-purple-border);
        background-color: var(--form-textObjects-color-purple-bgcolor);
    }
    .form__textObjects__purple:focus{
        background-color: var(--form-textObjects-color-purple-focusbgcolor);
    }

    .form__textObjects__blue{
        border: var(--form-textObjects-color-blue-border);
        background-color: var(--form-textObjects-color-blue-bgcolor);
    }
    .form__textObjects__blue:focus{
        background-color: var(--form-textObjects-color-blue-focusbgcolor);
    }

    .form__textObjects__brown{
        border: var(--form-textObjects-color-brown-border);
        background-color: var(--form-textObjects-color-brown-bgcolor);
    }
    .form__textObjects__brown:focus{
        background-color: var(--form-textObjects-color-brown-focusbgcolor);
    }

    .form__textObjects__red{
        border: var(--form-textObjects-color-red-border);
        background-color: var(--form-textObjects-color-red-bgcolor);
    }
    .form__textObjects__red:focus{
        background-color: var(--form-textObjects-color-red-focusbgcolor);
    }

    .form__textObjects__white{
        border: var(--form-textObjects-color-white-border);
        background-color: var(--form-textObjects-color-white-bgcolor);
    }
    .form__textObjects__white:focus{
        background-color: var(--form-textObjects-color-white-focusbgcolor);
    }

    .form__textObjects__black{
        border: var(--form-textObjects-color-black-border);
        background-color: var(--form-textObjects-color-black-bgcolor);
        color: var(--form-textObjects-color-black-txtcolor);
    }
    .form__textObjects__black:focus{
        background-color: var(--form-textObjects-color-black-focusbgcolor);
    }
    /*End Default Colors*/

    /*Start Sizes*/
    .form__textObjects__small{
        padding: var(--form-textObjects-smallPadding);
    }

    .form__textObjects__medium{
        padding: var(--form-textObjects-mediumPadding);
    }

    .form__textObjects__large{
        padding: var(--form-textObjects-largePadding);
    }

    .form__textObjects__xlarge{
        padding: var(--form-textObjects-xlargePadding);
    }
    /*End Sizes*/

    /*Start widths*/
    .form__textObjects__halfLength{
        width: var(--form-textObjects-halfLengh);
    }
    .form__textObjects__quarterLength{
        width: var(--form-textObjects-quarterLength);
    }
    .form__textObjects__narrowLength{
        width: var(--form-textObjects-narrowLengh);
    }
    /*End widths*/
/*End TextBoxes CSS*/

/*Start CheckBoxes CSS*/
.form__checkObjects{
    display: var(--form__checkObjects-block);
}
.form__checkObjects__inline{
    display: var(--form__checkObjects-inline);
}
.form__checkObjects__inlineBlock{
    display: var(--form__checkObjects-inlineBlock);
}
 /*End CheckBoxes CSS*/
/******End form classes******/

/*start backgrounds styles: backgroud colors*/
.bg-danger{
  background-color: var(--bg-danger);
}
.bg-success{
  background-color: var(--bg-success);
}
.bg-warning{
  background-color: var(--bg-warning);
}
.bg-secondary{
  background-color: var(--bg-secondary);
}
.bg-info{
  background-color: var(--bg-info);
}
.bg-primary{
  background-color: var(--bg-primary);
}
/*end backgrounds styles: backgroud colors*/

/*Start of Borders Styles*/
/*start style: borders*/
.bd-default-solid{
  border: 2px solid black;
}
.bd-danger-solid{
  border: 2px solid var(--bg-danger);
}
.bd-success-solid{
  border: 2px solid var(--bg-success);
}
.bd-warning-solid{
  border: 2px solid var(--bg-warning);
}
.bd-secondary-solid{
  border: 2px solid var(--bg-secondary);
}
.bd-info-solid{
  border: 2px solid var(--bg-info);
}
/*------------------------------*/
.bd-default-dotted{
  border: 2px dotted black;
}
.bd-danger-dotted{
  border: 2px dotted var(--bg-danger);
}
.bd-success-dotted{
  border: 2px dotted var(--bg-success);
}
.bd-warning-dotted{
  border: 2px dotted var(--bg-warning);
}
.bd-secondary-dotted{
  border: 2px dotted var(--bg-secondary);
}
.bd-info-dotted{
  border: 2px dotted var(--bg-info);
}
/*-------------------------------------*/
.bd-default-dashed{
  border: 2px dashed black;
}
.bd-danger-dashed{
  border: 2px dashed var(--bg-danger);
}
.bd-success-dashed{
  border: 2px dashed var(--bg-success);
}
.bd-warning-dashed{
  border: 2px dashed var(--bg-warning);
}
.bd-secondary-dashed{
  border: 2px dashed var(--bg-secondary);
}
.bd-info-dashed{
  border: 2px dashed var(--bg-info);
}
/*end style: borders*/

/*start style: rounded borders*/
.border-rounded-xs{
  border-radius: 6px;
}
.border-rounded-sm{
  border-radius: 12px;
}
.border-rounded-lg{
  border-radius: 24px;
}
.border-rounded-xl{
  border-radius: 48px;
}
/*end style: rounded borderd*/
/*End of Borders Styles*/

/* Start navbar styles */
.nav {
  height: 55px;
  width: 100%;
  position: relative;
  color: #fff;
}

.nav > .nav-header {
  display: block;
  position: relative;
  left: 5px;
}

.nav-header > img  {
  display: block;
  float: left;
  width: 23px;
  height: 36px;
  position: relative;
  top: 3px;
}
.nav > .nav-header > .nav-title {
  display:block;
  text-transform: uppercase;
  font-size: 22px;
  float: left;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: block;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 14.5px 10px 15.5px 10px;
  text-decoration: none;
  color: #efefef;
  text-align: center;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 55px;
    height: 55px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 55px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/* End navbar styles */