<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="designe.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row gap-3">
             <div class="col lg-2 prueba">
            col lg-2
          </div>
          <div class="col lg-7 prueba">
            col lg-7
          </div>
          <div class="col lg-2  prueba">
            col lg-2
          </div>
         
        </div>
        
        
       </div>
    </div>
</body>
</html>