<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" href="designe.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
             <div class="col   lg-2 md-2 prueba">
            col lg-2
          </div>
          <div class="col  lg-7 md-5 prueba">
            col lg-7
          </div>
          <div class="col  lg-2 md-2  prueba">
            col lg-2
          </div>
         
        </div>
        <div class="row">
            <div class="col   lg-10 md-10 prueba">
           col lg-2
         </div>
         <div class="col  lg-6 md-4 prueba">
           col lg-7
         </div>
         <div class="col  lg-3 md-7  prueba">
           col lg-2
         </div>
        
       </div>
      </div>
</body>
</html>