:root{
    --primary: rgb(102, 32, 32);
    --navbar-size: 80px
  }
  
  * {
    box-sizing: border-box;
  }
  .container {
    max-width: 90%;
  }
  .section {
      padding-top: 30px;
  }

  .offset-1 {
    margin-left: 8.33%;
  }
  hr {
    margin-top: 5px;
  }
  .section__title {
      text-transform: uppercase;
      font-size: 25px;
  }
  .section__body {
    padding: 15px;
    letter-spacing: 1.5px;
  }

  pre {
      background: #f3dac2;
      padding: 15px;
      color: #333;
      border-radius: 5px;
      max-width: 100%;
      overflow: scroll;
      font-style: italic;
      max-height: 500px;
      letter-spacing: 1px;
      font-weight: 500;
  }

  pre .hljs-tag {
      color: red;
  }
  pre .hljs-name {
      color: var(--primary);
  }
  pre .hljs-attr {
      color: rgb(31, 104, 173);
  }
  
  .nav {
      height: var(--navbar-size);
      width: 100%;
      position: relative;
      color: #efefef;
      background: var(--primary);
      padding: 15px;
    }
    
    .nav > .nav-header {
      display: inline;
    }
    
    .nav > .nav-header > .nav-title {
      display: inline-block;
      font-size: 22px;
      
      padding: 10px 10px 10px 10px;
    }
    
    .nav > .nav-btn {
        position: relative;
        top: 25px;
        display: none;
    }
    
    .nav > .nav-links {
      display: inline;
      float: right;
      font-size: 18px;
    }
    
    .nav > .nav-links > a {
      display: inline-block;
      padding: 13px 15px 13px 15px;
      text-decoration: none;
      text-transform: uppercase;
      color: #efefef;
    }
    
    .nav > .nav-links > a:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .nav > #nav-check {
      display: none;
    }
    
    @media (max-width:760px) {
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px 5px;
        margin: 15px 0 0 0 ;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
      }
      .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        margin-top: 15px;
        left: 0px;
      }
      .nav > .nav-links > a {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        /* height: calc(100vh - 50px); */
        overflow-y: auto;
      }
    }